<%= link_to 'Voltar', root_path %> |
<%= link_to 'Registrar uma nova filial', new_subsidiary_path %>

<div>
<% if @subsidiaries.each do |subsidiary| %>
  <br>
  <div>
  <%= link_to subsidiary.name, subsidiary_path(id: subsidiary.id) %>
  </div>
  <br>
  
<% end.empty? %>
    <h1> Nenhuma filial cadastrada </h1>
<%end%>
</div>
